<html>
  <head>
<title>pytrace visualizer</title>
</head>
<body>
<h1>pytrace visualizer</h1>

{% for tid, funcstats in funcstats_by_tid|dictsort %}
<h2>TID: {{ tid }}</h2>
<table border="1">
<thead>
  <tr>
    <th>id</td>
    <th>func</th>
    <th>call_count</th>
    <th>tottime</th>
  </tr>
</thead>
<tbody>
{% for fid, finfo in funcstats.funcs|dictsort %}
  <tr>
    <td>{{ fid }}</td>
    <td>{{ finfo.func.name }}</td>
    <td>{{ finfo.call_count }}</td>
    <td>{{ finfo.tottime|float|round(3) }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endfor %}
</body>
</html>
